@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.tvsSold {
  color: green;
  font-size: 3rem;
}

.tvsPurchaded {
  color: blue;
  font-size: 3rem;
}

.tvtobesold {
  color: red;
  font-size: 3rem;
}

.icons {
  height: 1rem;
}

/* ==========================================================================
   Reset Styles
   ========================================================================== */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==========================================================================
   Typography
   ========================================================================== */

#root {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

/* ==========================================================================
   Base Styles
   ========================================================================== */

#root {
  padding: 0 2rem;
  min-height: 100vh;
}

/* ==========================================================================
   Layout Styles
   ========================================================================== */

/* Styles for layout elements such as containers, grids, and flexboxes */


/* ==========================================================================
   Navigation Styles
   ========================================================================== */

/* Styles for navigation elements such as navbars and menus */

/* ==========================================================================
   Button Styles
   ========================================================================== */

/* Define styles for buttons */

/* ==========================================================================
   Form Styles
   ========================================================================== */

/* Styles for form elements such as inputs, labels, and buttons */

/* ==========================================================================
   Utility Classes
   ========================================================================== */

/* Define reusable utility classes */

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Media queries for responsive design */
