@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ==========================================================================
   Reset Styles
   ========================================================================== */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==========================================================================
   Typography
   ========================================================================== */

#root {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

/* ==========================================================================
   Base Styles
   ========================================================================== */

html {
  font-size: 12px
}

#root {
  padding: 0 2rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* ==========================================================================
   Layout Styles
   ========================================================================== */

.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

header {
  & h1 {
    font-weight: 500;
    padding: 3rem 0;
  }
}

main {
  & section {
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;

    & h2 {
      padding-bottom: 1.5rem;
      font-weight: 400;
    }
  }
}

.box-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.box {
  flex: 1 1 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 3rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 3px solid;
  max-width: 25rem;


  & p {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.tv-sold {
  background-color: #ecf8f7;
  border-color: #37a195;
  color: #37a295
}

.tv-purchased {
  background-color: #eff4f6;
  border-color: #9fbdc9;
  color: #6294a8;
}

.tv-to-be-sold {
  background-color: #fbeeea;
  border-color: #f1a696;
  color: #e46344;
}

.card {
  border: 1px dashed;
  border-radius: 0.5rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #eaebea;

  & .left-col {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
  }

  & .right-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    & > * {
      padding: .4rem 0;
    }

    & .price {
      font-size: 1.5rem;
    }
  }

  & .sizes {
    font-weight: 600;
  }
}

.option-holder {
  margin-right: .3rem;

}

.card-options {
  display: flex;
  /* When wrap not applied, it is causing the elements to exceed out of the parents border, causing parent  elements to grow what is not suitable*/
  overflow: hidden;
  /* I will use margin 0 auto instead of justify-content, I dont like the next line not in the same position as the previous*/
  /* I could have used another parent div but this seems easier*/
  margin: 0 auto;
  flex-wrap: wrap;
}

.featured-img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.filter-buttons {
  padding: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  & button {
    flex-basis: 15rem;
  }
}

/* ==========================================================================
   Navigation Styles
   ========================================================================== */


/* ==========================================================================
   Button Styles
   ========================================================================== */

.main-btn {
  padding: .6rem 1rem;
}

/* ==========================================================================
   Form Styles
   ========================================================================== */


/* ==========================================================================
   Utility Classes
   ========================================================================== */
.icons {
  height: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.icons:first-of-type {
  margin-left: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Media queries for responsive design */

@media screen and (min-width: 800px) {
  html {
    font-size: 16px;
  }

  .wrapper {
    max-width: 1200px;
  }

  .card {
    flex-direction: row;
    height: calc(281rem / 16);

    & .left-col {
      flex-basis: 20rem;
      justify-content: flex-start;
      align-items: center;
    }

    & .right-col {
      text-align: unset;

      & > * {
        padding: unset;
      }
    }
  }

  .card-options {
    margin: unset;
  }
}
